@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 10px;
    width: 70%;
    background-color: #ccc;
    overflow: hidden;
}

@media only screen and (min-width: 786px) {
    body {
        display: flex;
        align-items: center;
    }

    .container {
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr;
    }
}

.grid {
    text-align: left;
    padding: 40px;
    word-spacing: 1px;
}

.grid h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 5%;
    color: hsl(0, 0%, 95%);
}

.grid p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1.6;
    font-size: 15px;
}

.grid-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: hsl(31, 77%, 52%);
}

.grid-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: hsl(184, 100%, 22%);
}

.grid-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: hsl(179, 100%, 13%);
}

.img-section {
    padding: 20px 0;
}

.attribution {
    padding: 40px;
}

.btn-section {
    height: 100px;
}

.btn {
    background-color: #ffffff;
    font-family: 'Lexend Deca', sans-serif;
    position: relative;
    top: 50%;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    font-weight: 400;
}

.btn-1 {
    color: hsl(31, 77%, 52%);
}

.btn-2 {
    color: hsl(184, 100%, 22%);
}

.btn-3 {
    color: hsl(179, 100%, 13%);
}

